/* button{
    color: red;
    background-color: blue;
}  */

#box{
    height:300px;
    width:100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: green;
    
}